.note {
    width: 250px;
    height: 250px;

    background-color: yellow;
    
    position: absolute;
    resize: both;
    overflow: hidden;
}
.note-draggable {
    width: 100%;
    height: 30px;

    background-color: #FFD700;
}
.close {
    width: 10px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    cursor: pointer;
}
.text {
    resize: none;
    background: transparent;
    outline: none;
    border: none;
    overflow: scroll;

    width: 95%;
    height: 90%;
}
.colour {
    height: 22.5px;
    width: 22.5px;

    margin-top: calc(30px / 8);
}
#save-bar {
    height: 24px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: green;
    margin: 0px;
    right: 0%;
    text-align: center;
    line-height: 24px;
    opacity: 0;
}
#save-bar.show {
    animation: animate-save-bar 1s 1;
}
@keyframes animate-save-bar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#timer-wrapper {
    float: right;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}        
#seconds-wrapper {
    float: right;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
